a.btn-link, a.btn-link:hover {
    color: white;
    text-decoration: none;
}

section.footer-section{
    background-color:#2e759d;
    color:white;
}

nav.sticky-top{
    background-color:#2e759d;
}

a.nav-link, a.nav-link:hover {
    color:white;
}

.text-center {
    text-align: center;
}

.thankyou-bg {
    /* background-image: url("../images/backgrounds/thankyou-bg.jpg"); */
    background-color: #c7c7c773;
    background-repeat: no-repeat;
    background-size: cover;
    color: #323030;
    padding-top: 2%;
    padding-bottom: 2%;
}

a.top-header-link {
    text-decoration: none; 
    color: black;
}

a.top-header-link:hover {
    text-decoration: none; 
    color: black;
}

a.my-account-button {
    text-decoration: none; 
    color: white;
}

a.my-account-button:hover {
    text-decoration: none; 
    color: white;
}

.location-info {
    border: 1px solid rgba(0,0,0,.125);
    padding: 1%; 
    border-radius: 5px;
}

.login-form {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 2%;
    padding-bottom: 2%; 
    border-radius: 5px;
}

.register-form {
    border: 1px solid rgba(0,0,0,.125);
    padding-top: 2%;
    padding-bottom: 2%; 
    border-radius: 5px;
}
.category-menu{
    text-decoration: none;
}

img.product-icon {
    opacity: 80%;
}

.product-name {
    text-decoration: none;
}